.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

[data-visibility="d-none"] {
  display: none;
}

[data-visibility="v-hidden"] {
  visibility: hidden;
}

[data-visibility="shaded"] {
  opacity: 0.5;
}
